# Dependencies
/code/node_modules

# Environment variables
/code/config/.env.development
/code/config/.env.production
frontEnd/.env

# Build output
frontEnd/dist/

#opload file
uploads

# frontend
frontEnd/node_modules